@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:regular,bold');

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
}

button {
  margin: 0px 0px 5px;
}

#clipboard * {
  transition: color 0.25s ease-in-out, border 0.25s ease-in-out;
}

#generator * {
  transition: color 0.25s ease-in-out, border 0.25s ease-in-out;
}

.passwords {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: 20pt;
  word-wrap: break-word;
}

.symbol {
  color: dodgerblue;
}

.int {
  color: gold;
}

.lower {
  color: lightgrey;
}

.upper {
  color: salmon;
}

.result {
  padding: 0px 10px 7px;
}

.resultContainer {
  text-align: center;
  border: 3px solid grey;
  border-radius: 10px;
  max-width: 730px;
  width: 50vw;
  min-width: 210px;
  text-align: left;
}

.options {
  padding: 0px 0px 10px;
  height: 400px;
  border: 3px solid grey;
  border-radius: 10px;
}

.slider {
  min-width: 210px;
  max-width: 210px;
  padding-top: 15px;
}

.sliderRandom {
  min-width: 210px;
  max-width: 210px;
  padding-top: 15px;
}

.separator {
  min-width: 210px;
  max-width: 210px;
  padding-bottom: 10px;
}

.containerTitle {
  font-weight: bold;
  text-align: center;
  padding: 8px 0px;
  margin-bottom: 15px;
  border-radius: 7px 7px 0px 0px;
  border-bottom: 3px solid grey;
  font-weight: bold;
}

.resultsContainerTitle {
  font-weight: bold;
  text-align: center;
  padding: 8px 0px;
  margin-bottom: 15px;
  border-radius: 7px 7px 0px 0px;
  border-bottom: 3px solid grey;
  font-weight: bold;
}

.mainContainer {
  display: flex;
  column-gap: 10px;
  direction: cross;
}

.optionsControls {
  min-width: 210px;
  max-width: 210px;
}

.modSwitch {
  align-items: center;
  text-align: left;
  padding-left: 10px;
}

#copy {
  width: 65vw;
  max-width: 950px;
  text-align: left;
  padding: 25vh 0px 80px;
  transition: padding 0.3s ease-in-out;
}

#copy h2 {
  margin: 12px 0px;
  padding-top: 40px;
}

#copy p {
  margin: 8px 0px;
}

.ps {
  color: grey;
  font-size: 10pt;
}

#footer {
  padding: 20px 0px 0px;
  color: gray;
}

#tooltip {
  transition: top 0.1s;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

@media ( min-height: 900px ) {
  #copy {
    padding-top: 0px;
  }
}

@media ( max-width: 900px ) {
  .passwords {
    font-size: 15pt;
  }
  #tooltip {
    font-size: 10pt;
  }
}

@media ( max-width: 800px ) {
  .resultContainer {
    max-width: 400px;
  }
  #copy {
    width: 80vw;
  }
  #tooltip {
    background-color: rgba(0, 0, 0, 0.3);
  }
}


@media ( max-width: 650px ) {
  #root {
    padding: 1rem 0rem;
  }
  #mainToggle {
    font-size: 11pt;
  }
  h1 {
    font-size: 2.7em;
    margin: 0px;
  }
  #copy {
    width: 340px;
    padding-top: 250px;
  }
  .mainContainer {
    flex-direction: column;
    row-gap: 10px;
  }
  .resultContainer {
    max-width: 350px;
    width: 350px;
    padding-bottom: 10px;
    text-align: center;
    border: 3px solid gold;
  }
  .resultsContainerTitle {
    color: gold;
    border-bottom: 3px solid gold;
  }
  .options {
    height: auto;
    min-height: auto;
    max-width: 350px;
  }
  .optionsControls {
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
  }
  .modSwitch {
    text-align: left;
    padding: 0px 10px;
  }
  #modSwitchContainer {
    max-width: 200px;
    align-items: left;
    text-align: left;
  }
  #generator, #clipboard{
    padding: 0px 4px;
  }
  .separator {
    min-width: 200px;
    max-width: 200px;
    width: 220px;
  }
  .slider {
    max-width: 280px;
  }
  #dropdown {
    display: grid;
    align-items: center;
    justify-items: center;
  }
  #tips {
    display: none;
  }
}
