@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:regular,bold');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin: 0px 0px 5px;
}

.passwords {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: 20pt;
  word-wrap: break-word;
}

.symbol {
  color: dodgerblue;
}

.int {
  color: lightyellow;
}

.lower {
  color: grey;
}

.upper {
  color: lightpink;
}

.result {
  padding: 0px 10px;
}

.resultContainer {
  text-align: left;
  border: 3px solid grey;
  border-radius: 10px;
  max-width: 730px;
  width: 50vw;
  min-width: 210px;
}

.options {
  padding: 0px 0px 10px;
  min-width: 210px;
  max-width: 210px;
  height: 400px;
  border: 3px solid grey;
  border-radius: 10px;
}

.slider {
  min-width: 210px;
  max-width: 210px;
}

.separator {
  min-width: 210px;
  max-width: 210px;
}

.containerTitle {
  font-weight: bold;
  text-align: center;
  padding: 8px 0px;
  margin-bottom: 15px;
  border-radius: 7px 7px 0px 0px;
  border-bottom: 3px solid grey;
  font-weight: bold;
}

.mainContainer {
  display: flex;
  column-gap: 10px;
  direction: cross;
}

@media ( max-width: 900px ) {
  .passwords {
    font-size: 15pt;
  }
}

@media ( max-width: 800px ) {
  .resultContainer {
    max-width: 400px;
  }
}

@media ( max-width: 650px ) {
  .mainContainer {
    flex-direction: column;
    row-gap: 10px;
  }
  .resultContainer {
    max-width: 500px;
    width: 500px;
    padding-bottom: 10px;
  }
  .options {
  }
}
